body{
    margin: 0px;

}
.top-dear{
    height: 150px;
    background-color: aqua;
}
.haf-width{
    width: 40%;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color: red;

}
.haf-width img{
    height: 100px;
    width: 100px;
    border: 0px;
    border-radius: 50%;
    vertical-align: middle;
}
